*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

header {
    display: flex;
    flex-direction: column;
    height: 152px;
    background-color: #004793;
}

/*===========================================================================*/
.bar-top {
    height: 112px;
    width: 100%;
    background-color: aqua;
    display: grid;
    grid-template:40px 1fr / 33% 1fr;
    grid-template-areas: 
    "img-alk-start nav-top"
    "img-alk-start browser-count-car";
}
.img-alk-start {
    grid-area: img-alk-start;
    background-color: aquamarine;
    height: inherit;
    text-align: center;
}
.img-alk-start img {
    height: 100%;
}
.nav-top {
    grid-area: nav-top;
    background-color: bisque;
    width: 100%;
    overflow: auto;
}
.nav-top ul {
    display: flex;
    height: 100%;
    gap: clamp(0.2rem, 2vw, 2rem);
    list-style: none;
    justify-content: left;
    align-items: center;
    white-space: nowrap;
    overflow-x: scroll;
}
.nav-top li {
}
.nav-top a {
    text-decoration: none;
}
.browser-count-car {
    grid-area: browser-count-car;
    background-color: cadetblue;
}

/*===========================================================================*/
.nav-main {
    height: 40px;
    width: 100%;
    min-width: 200px;
    background-color: grey;
}
.nav-main ul {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    gap: clamp(0.2rem, 2vw, 2rem);
    align-items: center;
    list-style: none;
    height: 100%;
    overflow-x: scroll;
    /* width: 100% */
}
.nav-main li {
    /* white-space: nowrap; */
}
.nav-main ul a {
    text-decoration: none;
}
